pre.prettyprint {
  padding: 1px;
  border: 1px solid #111111;
  overflow: auto;
  box-shadow: 0 2px 2px 0px #cccccc;
  white-space: pre;
  counter-reset: line;
}

pre.prettyprint span.line {
  display: inline-block;
  width: 100%;
  overflow: none;
  word-wrap: normal;
}

pre.prettyprint span.line:before {
  width: 35px;
  border-right: 1px dotted #cccccc;
  display: inline-block;
  text-align: right;
  counter-increment: line;
  content: counter(line) " ";
}
